/* html파일에서  id는 #으로, class는 .으로. */

.box {
  margin: 20px auto 0px auto;
  width: 300px;
  max-width: 1200px;
}

#titleSize{
font-size : 60px;
}

#cards {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;

    
  height: 100%;
}


.titlebox{
    background-color: green;
    color: white;

    height: 250px;
    width : 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://img.sbs.co.kr/newsnet/etv/upload/2014/04/16/30000372435_16v9.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;

    
}

#boxes{
    flex-direction: column;
}

.titles{
    font-size: 22px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 5px;
}

.image{
    border-radius: 30px 30px 30px 30px;
    width: 400px;

}

#search{
    width: 350px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
}

#button{
    width: 100px;
    height: 50px;
    text-align: center;
}

.vote{
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
}

#desc{
    margin-bottom: 10px;
    font-size: 18px;
}